#logout-btn {
    color: red;
}
.active {
    color: #e23237;
}
#logo {
    width: 30px;
}
#header {
    height: 6vh;
}
#header li a {
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 700px) {
    #header {
        height: auto;
    }
}