#contacts-list .separator {
    display: none;
}
@media (max-width: 767px) {
    #contacts-list {
        position: relative;
        margin-bottom: 20px;
    }
    #contacts-list .separator {
        position: absolute;
        bottom: -20px;
        z-index: 99;
        display: block;
        width: 95%;
        height: 30px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 1%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
}