<div class="row">
<div class="col-md-12">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <input
  type="hidden"
  formControlName="id">
  <h4>Info</h4>
  <div class="row">
    <div class="col-sm-3">
      <img
      src="{{ imagePath.value }}"
      class="img-fluid rounded mx-auto d-block mb-2">
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text">First name</span>
            </div>
            <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="firstName">
          </div>
          <div
          *ngIf="!contactForm.get('firstName').valid && contactForm.get('firstName').touched"
          class="alert alert-danger my-1">
            Please, enter the valid First Name!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text">Last name</span>
            </div>
            <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="lastName">
          </div>
          <div
          *ngIf="!contactForm.get('lastName').valid && contactForm.get('lastName').touched"
          class="alert alert-danger my-1">
            Please, enter the valid Last Name!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text">Image</span>
            </div>
            <input
            type="text"
            id="imagePath"
            class="form-control"
            formControlName="imagePath"
            #imagePath>
          </div>
        </div>
      </div>

      <div
      [ngClass]="{'cross-validation-error': contactForm.errors?.datesConflict}">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group my-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Date Of Birth</span>
              </div>
              <input
              type="date"
              id="dateOfBirth"
              class="form-control"
              formControlName="dateOfBirth">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group my-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Date Of Death</span>
              </div>
              <input
              type="date"
              id="dateOfDeath"
              class="form-control"
              formControlName="dateOfDeath">
            </div>
            <div
            *ngIf="contactForm.errors?.datesConflict"
            class="alert alert-danger my-1">
              Please, enter the correct dates!
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text">Occupation</span>
            </div>
            <input
            type="text"
            id="occupation"
            class="form-control"
            formControlName="occupation">
          </div>
          <div
          *ngIf="!contactForm.get('occupation').valid && contactForm.get('occupation').touched"
          class="alert alert-danger my-1">
            Please, enter the valid Occupation!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text">Country</span>
            </div>
            <input
            type="text"
            id="countryOfLiving"
            class="form-control"
            formControlName="countryOfLiving">
          </div>
          <div
          *ngIf="!contactForm.get('countryOfLiving').valid && contactForm.get('countryOfLiving').touched"
          class="alert alert-danger my-1">
            Please, enter the valid Country!
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" formArrayName="films">
      <h4>Films</h4>

      <div
      class="row"
      *ngIf="getControls().length > 0">
        <div class="col-7 col-sm-7 col-md-7 col-lg-7">
          <div class="input-group my-1">
            <label for="">Title</label>
          </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
          <div class="input-group my-1">
            <label for="">Year</label>
          </div>
        </div>
      </div>

      <div
      class="row"
      *ngFor="let filmControls of getControls(); let i = index"
      [formGroupName]="i">
        <div class="pr-1 col-7 col-sm-7 col-md-7 col-lg-7">
          <div class="input-group my-1">
            <input
            type="text"
            class="form-control"
            formControlName="filmTitle">
          </div>
        </div>
        <div class="px-1 col-3 col-sm-3 col-md-3 col-lg-3">
          <div class="input-group my-1">
            <input
            type="number"
            class="form-control"
            formControlName="year">
          </div>
        </div>
        <div class="pl-1 col-2 col-sm-2 col-md-2 col-lg-2">
          <button
          type="button"
          class="btn btn-danger my-1"
          (click)="onDeleteFilm(i)">x</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
          type="button"
          class="btn btn-info my-2"
          (click)="onAddFilm()">Add film</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center mt-3 mb-4">
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 align-content-center">
      <button
      type="submit"
      class="btn btn-info mr-2"
      [disabled]="!contactForm.valid">Save</button>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 align-content-center">
      <button
      type="button"
      class="btn btn-danger"
      (click)="onCancel()">Cancel</button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-3">
      <p
      *ngIf="!contactForm.valid && contactForm.touched"
      class="alert alert-danger my-2">
        The form is not valid!
      </p>
    </div>
  </div>

</form>
</div>
</div>