<h3 class="my-3">
  Notable works of {{ contact.firstName + ' ' + contact.lastName }}
</h3>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <img src="{{ contact.imagePath }}" alt="" class="img-fluid rounded mx-auto d-block mb-2 detail-img">
    </div>
    <br>
    <div class="col-sm-9 col-md-9 col-lg-9">
      <ul class="list-group">
        <li
        class="list-group-item mb-2"
        *ngFor="let film of contact.films">
          {{ film.filmTitle }}
          <span class="badge badge-secondary float-md-right">
            {{ film.year }}</span>
        </li>
      </ul>
    </div>
  </div>