<div class="container-fluid">
  <div class="row align-items-center justify-content-center" id="home-block">
    <div class="col-xs-12 col-md-8 col-lg-6">
      <div class="row justify-content-around">
        <ng-template [ngIf]="isAuthenticated()">
            <div class="col-md-12 text-center">
              <h3>Welcome, {{ getUser() }}!</h3>
            </div>
            <div class="col-md-8 text-center">
              <button
              class="btn btn-success btn-block"
              [routerLink]="['contacts', 'new']">Add new contact</button>
            </div>
        </ng-template>
        <ng-template [ngIf]="!isAuthenticated()">
            <div class="col-md-12 text-center">
              <h3>Welcome to {{ title }}!</h3>
            </div>
          <div class="col-md-6">
            <button class="btn btn-success btn-block" routerLink="/signin">Sign In</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary btn-block" routerLink="/registration">Register</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

